{% extends "baseLayout.html" %}
{% block links %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/index-styles.css') }}">
{% endblock links %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <div>
        <div class="sell-out_container">
            <div class="sell-out_hw">
                <img src="/static/index/index-images/index-banner.jpg">
            </div>
        </div>
    
        <div class="top-rated_container">
            <div class="top-rated_items">
                <div class="top-rated-item-wrapper">
                    <a href="index.html">
                        <div class="top-rated-item_text">
                            <p>GPUs </p>
                        </div>
                        <div class="top-rated-item-image">
                            <img src="/static/index/index-images/index-gpu.png">
                        </div>
                    </a>
                </div>
                <div class="top-rated-item-wrapper">
                    <a href="index.html">
                        <div class="top-rated-item_text">
                            <p>CPUs </p>
                        </div>
                        <div class="top-rated-item-image">
                            <img src="/static/index/index-images/index-cpu.jpg">
                        </div>
                    </a>
                </div>
                <div class="top-rated-item-wrapper">
                    <a href="index.html">
                        <div class="top-rated-item_text">
                            <p>RAMs </p>
                        </div>
                        <div class="top-rated-item-image">
                            <img src="/static/index/index-images/index-ram.jpg">
                        </div>
                    </a>
                </div>
                <div class="top-rated-item-wrapper">
                    <a href="index.html">
                        <div class="top-rated-item_text">
                            <p>Motherboards </p>
                        </div>
                        <div class="top-rated-item-image">
                            <img src="/static/index/index-images/index-mb.jpg">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %}
