{% extends "baseLayout.html" %}

{% block links %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='login/login-styles.css') }}">
{% endblock links %}

{% block body %}
    <div class="login-box">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h2>
                    {{ message }}
                </h2>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="user-box">
                <label>{{ form.username.label() }}</label>
                <br>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <label>{{ error }}</label>
                    {% endfor %}
                {% endif %}
                {{ form.username }}
            </div>
                
            <div class="user-box">
                <label>{{ form.password.label() }}</label>
                <br>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <label>{{ error }}</label>
                    {% endfor %}
                {% endif %}
                {{ form.password }}
            </div>

            <a><div class="button">
                {{ form.submit() }}
            </div></a>
        </form>
    </div>
    
{% endblock %}
</body>
</html>