{% extends "baseLayout.html" %}
{% block body %}

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>testlegend</legend>
                {{ form.username.label() }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.username }}

                <br>

                {{ form.email.label() }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.email }}

                <br>

                {{ form.password.label() }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.password }}

                <br>

                {{ form.confirmPassword.label() }}
                {% if form.confirmPassword.errors %}
                    {% for error in form.confirmPassword.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.confirmPassword }}

                <br>

            </fieldset>
            {{ form.submit() }}
        </form>
    </div>
    <div>
        <form action="login.html">
            <input type="submit" value="already have an account?" />
        </form>
    </div>
{% endblock body %}
</body>
</html>