<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='register/register-styles.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nav-bar.css') }}">
    <title>Registration</title>
</head>
<body>
    <div class="top_navigation-bar">
        <div class="nav-bar_linkWrapper nav-bar_logo">
            <a href='index.html'>foton</a>
        </div>
        <div class="nav-bar_linkWrapper">
            <a href="news.html">news</a>
        </div>
        <div class="nav-bar_linkWrapper">
            <a href="/">compare</a>
        </div>
        <div class="nav-bar_linkWrapper nav-bar_search">
            <a href="/">search</a>
        </div>
        
        <div class="nav-bar_linkWrapper nav-bar_login ">
            <a href="/">
                <div class="img-wrapper">
                    <img src="/static/index/index-images/index-IMG_LoginIn.png" alt="LogIn">
                </div>
                <div class="text-wrapper">
                    LogIn
                </div>
            </a>
        </div>
    </div>

    <div class="afterNav-bar_space"></div>

    {% block content %}

    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <legend>testlegend</legend>
                    {{ form.username.label() }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    {{ form.username }}

                    <br>

                    {{ form.email.label() }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    {{ form.email }}

                    <br>

                    {{ form.password.label() }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    {{ form.password }}

                    <br>

                    {{ form.confirmPassword.label() }}
                    {% if form.confirmPassword.errors %}
                        {% for error in form.confirmPassword.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    {{ form.confirmPassword }}

                    <br>

                </fieldset>
                {{ form.submit() }}
            </form>
        </div>
    {% endblock content %}
</body>
</html>