{% extends "baseLayout.html" %}
{% block links %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='news/news-styles.css') }}">
{% endblock links %}

{% block body %}

    <div class="posts_container">
        <div class="posts_title">RECENT NEWS</div>
        {% for post in posts %}
        <div class="post">
            <div class="post_left">
                <img id="post_img" src="/static/index/index-images/index-IMG_LoginIn.png">
            </div>
            <div class="post_right">
                <div class="post_info">
                    <p> author {{post.author}} </p>
                    <p> title {{ post.title }} </p>
                </div>
                <p class="content"> content {{post.content}} </p>
                <p> date_posted {{post.date_posted}} </p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock body %}
</body>
</html>