<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='nav-bar.css') }}">
    {% block links %}
    
    {% endblock links %}
    <title>Document</title>
</head>
<body>
    <div class="top_navigation-bar">
        <div class="nav-bar_linkWrapper nav-bar_logo">
            <a href='index.html'>foton</a>
        </div>
        <div class="nav-bar_linkWrapper">
            <a href="news.html">news</a>
        </div>
        <div class="nav-bar_linkWrapper">
            <a href="/">compare</a>
        </div>
        <div class="nav-bar_linkWrapper nav-bar_search">
            <a href="/">search</a>
        </div>
        
        {% if current_user.is_authenticated %}
            <div class="nav-bar_linkWrapper nav-bar_login ">
                <a href="profile.html">
                    <div class="img-wrapper">
                        <img src="/static/index/index-images/index-IMG_LoginIn.png" alt="LogIn">
                    </div>
                    <div class="text-wrapper">
                        MyProfile
                    </div>
                </a>
            </div>
        {% else %}
            <div class="nav-bar_linkWrapper nav-bar_login ">
                <a href="register.html">
                    <div class="img-wrapper">
                        <img src="/static/index/index-images/index-IMG_LoginIn.png" alt="LogIn">
                    </div>
                    <div class="text-wrapper">
                        LogIn
                    </div>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="afterNav-bar_space"></div>

    {% block body %}

    {% endblock %}
</body>
</html>